# Series As Dictionary

In [1]:
import pandas as pd

obj_series = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
obj_series

a    1
b    2
c    3
d    4
dtype: int64

In [2]:
# Indexing key
obj_series.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
# indexing value
obj_series.values

array([1, 2, 3, 4])

In [4]:
# checking existing keys
'b' in obj_series

True

# Series As Array

In [5]:
# slicing dengan explicit index
obj_series['a': 'c']

a    1
b    2
c    3
dtype: int64

In [6]:
# slicing dengan implicit index
obj_series[:3]

a    1
b    2
c    3
dtype: int64

# Indexing menggunakan .loc dan .iloc objek series
.loc indexing: indexing berdasarkan label objek series

.iloc indexing: indexing berdasarkan posisi objek series

In [7]:
# .loc indesing
obj_series.loc['a': 'c']

a    1
b    2
c    3
dtype: int64

In [8]:
# .iloc indexing
obj_series.iloc[:3]

a    1
b    2
c    3
dtype: int64

# Filtering Objek Series

In [9]:
obj_series[obj_series>2]

c    3
d    4
dtype: int64

In [10]:
obj_series[['a', 'd']]

a    1
d    4
dtype: int64

# Indexing DataFrame
* dataframe[] : index operator
* dataframe.kolom : index attribute
* dataframe.loc[] : misal dataframe.loc['jumlah']
*dataframe.iloc[] : misal dataframe.iloc[2]

In [11]:
df_diamond = pd.read_csv("./1/diamonds-1.csv")
df_diamond.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [12]:
# indexing operator as series
df_diamond['carat']

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [14]:
# indexing operator as dataframe
df_diamond[['carat']].head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [15]:
# indexing using attribute
df_diamond.carat

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [19]:
# indexing using .loc
df_diamond.loc[:, ['carat', 'color']].head()

   carat color
0   0.23     E
1   0.21     E
2   0.23     E
3   0.29     I
4   0.31     J

In [20]:
# indexing uing .iloc
df_diamond.iloc[:, [4, 5]].head()

  clarity  depth
0     SI2   61.5
1     SI1   59.8
2     VS1   56.9
3     VS2   62.4
4     SI2   63.3

# Filtering DataFrame with Boolean

## Filtering DataFrame dimulai dari pertanyaan

In [ ]:
# boolean series orang yang selamat
survived = df.survived == 1

In [ ]:
df[survived]