In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame([('bird', 'Falconiformes', 389.0), 
                   ('bird', 'Psittaciformes', 24.0),
                   ('mammal', 'Carnivora', 80.2),
                   ('mammal', 'Primates', np.nan),
                   ('mammal', 'Carnivora', 58)],
                   index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                   columns=('class', 'order', 'max_speed'))

df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [6]:
df.groupby('class')

In [7]:
df.groupby('class').mean()

        max_speed
class
bird        206.5
mammal       69.1

In [8]:
df.groupby(['class', 'order'])[['max_speed']].agg(['mean', 'sum'])

                      max_speed
                           mean    sum
class  order
bird   Falconiformes      389.0  389.0
       Psittaciformes      24.0   24.0
mammal Carnivora           69.1  138.2
       Primates             NaN    0.0